{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react"
    ],
    "env": {
        "test": {
          "presets": ["es2015", "react"]
        }
    } 
}